<!-- import block of content from base.html -->
 
{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block content %}


<!-- styling content with CSS -->
<style>

.all {
    text-align:center;
    font-size: 25px;
}

.wrap {
    width: 100%;
}

.fleft {
    float:left; 
    width: 50%;
    height: 400px;
    font-size: 25px;
}

.fright {
    float: right;
    height: 400px;
    width: 50%;
    font-size: 25px;
}

.frightbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    min-height: 500px;
    margin-right:20%;
    margin-left:20%;
    font-size: 17px;
    height:auto;
}

.fleftbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    min-height: 500px;
    margin-right:20%;
    margin-left:20%;
    height:auto;
}

.projectbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    min-height: 600px;
    margin-right:25%;
    margin-left:25%;
    height:auto;
}

.projectbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;

}


.frightbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;

}

.fleftbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;

}




</style>

<!-- classes with content; about project and us -->

<div class="all">

<div class="project">

<h2>Project</h2>

<div class="projectbc">
<br>
<p>The aim of this project was to demonstrate usability of the software’s like Python with django framework, HTML, JavaScript, CSS and supporting it database engine SQLite3 to create and analyse movies based on certain attributes like Title, Year, Runtime, Genre, Director, Actors, IMDb ratings, etc. and visualise this information in easy and user-friendly manner. 
<br>
<br>
Using various solutions, we were able to create a fully functional database, visualised data in form of sortable table or graphical plots to allow the user for better information interpretation. Use of ‘Randomiser’ allows web page user for random movie selection for the night and any issue regarding page can be raised through contact us page.
<br>
<br>
We believe that our web page can be seen as a good example of not only technical solution learned and implemented but also additional understanding shared through creation of the web page. 
<br>
<br>
We demonstrate our knowledge aptitude through project design and implementation. 
<br>A well-designed web page can help build trust and guide users to take action through several factors which should appeal to them, such as project simplicity, consistency, imagery and functionality.
</p>

</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="wrap">

<div class="fleft">
    
<h2>Dagmara</h2>

<div class="fleftbc">
<br>
<p>Dagmara is Associate Delivery Analyst who delivers data, data  products and
information that drive our client’s multi-channel marketing
capabilities.  As Associate Delivery Analyst she is responsible for understand the details of our client’s data and
Acxiom’s products to ensure that our clients and / or third party
vendors receive clean, enhanced, segmented, ready-to-market data.
Associate Delivery Analysts strive daily to improve quality, and
adhere to standard processes and procedures.  She works with clients
and / or third-party vendors to begin to understand requirements and
escalate issues with a focus on maintaining a seamless process flow.
</p>

</div>

</div>

<div class="fright">

<h2>Dominika</h2>

<div class="frightbc">

<br>
<p>Dominika is a Principle Geographical Information System (GIS) and Geospatial Consultant at Arcadis United Kingdom, 
as well as a Team Leader. She spends her time working with ‘big data’, analysing it, generating insight and providing 
the right solution for clients. She has over ten years of GIS experience working on large infrastructure projects 
with an overall aim of improving work efficiency via workflows and standardised processes. She has proven experience 
in leading teams, coordinating resources and designing and implementing technical methodologies to deliver to programme. 
She obtained BSc degree in Environmental Protection and Management and MSc degree in Geographical Information Systems. 
Dominika is passionate about all aspects of geo-spatial and regularly conveys the importance of geography in the 
engineering world.</p>

</div>

<br>
<br>
<br>

</div>

</div>

</div>


{% endblock %}
