<!-- import block of content from base.html -->
 
{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block content %}


<!-- styling content with CSS -->
<style>

.all {
    text-align:center;
    font-size: 25px;
}

.wrap {
    width: 100%;
}

.fleft {
    float:left; 
    width: 50%;
    height: 400px;
    font-size: 25px;
}

.fright {
    float: right;
    height: 400px;
    width: 50%;
    font-size: 25px;
}

.frightbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    min-height: 500px;
    margin-right:20%;
    margin-left:20%;
    font-size: 17px;
    height:auto;
}

.fleftbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    min-height: 500px;
    margin-right:20%;
    margin-left:20%;
    height:auto;
}

.projectbc {
    background:url(https://i.pinimg.com/originals/f4/37/7d/f4377d9b518446218745580d3c310561.png); 
    border-radius: 25px;
    color: white;
    height: 500px;
    margin-right:25%;
    margin-left:25%;
}

.projectbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;
}


.frightbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;
}

.fleftbc p {
    margin-right:10%;
    margin-left:10%;
    font-size: 17px;
    text-align:left;
}

</style>

<!-- classes with content; about project and us -->

<div class="all">

<div class="project">

<h2>Project</h2>

<div class="projectbc">
<br>
<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="wrap">

<div class="fleft">
    
<h2>Dagmara</h2>

<div class="fleftbc">
<br>
<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla 
bla bla blabla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla 
bla bla bla blabla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

</div>

</div>

<div class="fright">

<h2>Dominika</h2>

<div class="frightbc">

<br>
<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla 
bla bla blabla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla 
bla bla blabla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla bla blabla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

</div>

</div>

</div>

</div>

{% endblock %}
