<!-- import block of content from base.html -->

{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}


<!-- styling content with CSS -->
<style>

.all {
    text-align:center;
}

.all p{
    font-size: 25px;
    font-weight: bold;
}

img {
  transition: transform .5s; 
}

img:hover {
  transform: scale(1.5);
}



</style>

<!-- classes with posters-->

<div class="all">
<p>Check out posters, titles and short descriptions of the analyzed films</p>
<div calss="img">

{%for i in index %}

<img title='{{i.0}}' src={{i.url}}>

{% endfor %}

</div>

</div>






{% endblock %}

